<a href="https://colab.research.google.com/github/Anmolkr1909/List_comprehension/blob/main/list_comprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List Comprehension

---



---

78) Student Pass/Fail Checker
*   You have a list of student marks. Check who passed (marks â‰¥ 40)

In [ ]:
marks = [25, 67, 89, 38, 49, 10]
pass_status = ["Pass" if mark >= 40 else "Fail" for mark in marks]

print(pass_status)

['Fail', 'Pass', 'Pass', 'Fail', 'Pass', 'Fail']



---

79)  Email Domain Extractor
*  From a list of emails, extract only the domain part (like gmail.com)

In [ ]:
emails = ["anmol@gmail.com", "neha@yahoo.com", "zoya@outlook.com"]
domains = [email.split("@")[1] for email in emails]

print(domains)

['gmail.com', 'yahoo.com', 'outlook.com']



---

80) Temperature Conversion
* Convert Celsius temperatures to Fahrenheit

In [ ]:
celsius = [0, 20, 35, 40]
fahrenheit = [((9/5)*temp + 32) for temp in celsius]

print(fahrenheit)

[32.0, 68.0, 95.0, 104.0]



---



---